<div class="row" style="margin-bottom: 20px;">
    <div class="col">
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Ver filtro
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="row" style="margin-bottom: 9px;">

                    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
                    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
                    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
                    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
                    <div class="col">
                        <a class="btn btn-primary" data-toggle="collapse" >
                            <i class="fa fa-search"></i> Ver filtro
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>