  <!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li id="Inicio" class="nav-item active">
        <a class="nav-link" href="/Home/">
            <i class="fas fa-fw fa-home"></i>
            <span>Inicio</span>
        </a>
    </li>


    <li class="nav-item dropdown" style="display: none;">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
        </div>
    </li>
    <li class="nav-item" style="display: none;">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
        </a>
    </li>
    <li class="nav-item" style="display: none;">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>
    </li>

    <li id="Buses" class="nav-item">
        <a class="nav-link" href="/Buses/">
            <i class="fas fa-fw fa-bus"></i>
            <span>Buses</span>
        </a>
    </li>

    <li id="Routers" class="nav-item">
        <a class="nav-link" href="/Routers/">
            <i class="fas fa-fw fa-wifi"></i>
            <span>Routers</span>
        </a>
    </li>

    <li id="Sims" class="nav-item">
        <a class="nav-link" href="/Sims/">
            <i class="fas fa-fw fa-mobile"></i>
            <span>Sims</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="~/Template/Template2/index.html" target="_blank">
            <i class="fas fa-fw fa-file"></i>
            <span>Plantilla</span>
        </a>
    </li>


</ul>
<!-- Sidebar | End-->


<script>

    var secciones = new Array("Inicio", "Buses", "Routers","Sims");
    var seccion = '@ViewBag.Title';

    $.each(secciones, function (index, value) {

        var current = "#" + value;

        if (seccion == value) {
            $(current).addClass("active");
        }
        else {
            $(current).removeClass("active");
        }
    });

    //for (var i = 0; i < secciones.leght ; i++) {



    //

    //    console.log(current + " | " + secciones[i]);


    //    if (seccion == secciones[i]) {
    //        $(current).addClass("active");
    //    }
    //    else {
    //        $(current).removeClass("active");
    //    }
    //}


</script>