
<h2>Ver</h2>

<div class="row" style="margin-bottom: 9px;">

    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>

</div>

<div class="row" style="margin-bottom: 9px;">

    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>

</div>

<div class="row" style="margin-bottom: 9px;">

    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>

</div>

<div class="row" style="margin-bottom: 9px;">

    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>

</div>

<div class="row" style="margin-bottom: 9px;">

    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>
    <div class="col"><input type="text" class="form-control" placeholder="Datos"></div>

</div>


<div class="row" style="margin-bottom: 9px;">

    <div class="col accordion" id="accordionExample">
        <div class="card" style="margin-bottom: 9px;">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Notas
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Col 1</th>
                                <th scope="col">Col 2</th>
                                <th scope="col">Col 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2</th>
                                <td>Datos 1</td>
                                <td>Datos 2</td>
                                <td>Datos 3</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Datos 1</td>
                                <td>Datos 2</td>
                                <td>Datos 3</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Datos 1</td>
                                <td>Datos 2</td>
                                <td>Datos 3</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ubicaciones
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Col 1</th>
                                <th scope="col">Col 2</th>
                                <th scope="col">Col 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2</th>
                                <td>Datos 1</td>
                                <td>Datos 2</td>
                                <td>Datos 3</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Datos 1</td>
                                <td>Datos 2</td>
                                <td>Datos 3</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Datos 1</td>
                                <td>Datos 2</td>
                                <td>Datos 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>